* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.logo1 {
  width: 35px;
  height: 35px;
  background-color: #d6e9fe;
}

.social1 {
  width: 32px;
  height: 32px;
  background-color: #d6e9fe;
}

.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.first-item {
  order: 1;
}

.last-item {
  order: -1;
}
.photo-grid-item {
  border: 1px solid #fff;
  height: 300px;
  width: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #d6e9fe;
  height: 100px;
  flex: 1;
}
.footer-one,
.footer-three {
  background-color: #5995da;
  flex: initial;
  width: 300px;
}
